<style lang="text/css">
.orderPad {
	border-collapse: collapse;
	width: 100%;
}
</style>

<table class="orderPad">
		<tr><td class="fieldSeparator" colspan="4">Order Details #1414</td>
		</tr>
		<tr>
			<td class="fieldHeading" width="15%">Label:</td>
			<td class="fieldValue">Value</td>
			<td class="fieldHeading" width="15%">Label:</td>
			<td class="fieldValue">Value</td>
		</tr>
</table>