<h1>New cart_line_item</h1>

<%= error_messages_for :cart_line_item %>

<% form_for(:cart_line_item, :url => cart_line_items_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cart_line_items_path %>