<div id="wrapper">
	<div id="content" style="width:950px">	
		<h3 style="width:100%;border-bottom:1px solid grey;margin:0px">Sales Forecast</h3>
		<p><span style="font-size:1.5em">$14'5000</span> of Draft</p>
		<p><span style="font-size:1.5em">23</span> Orders</p>
		<p><span style="font-size:1.5em">2</span> Orders from A Clients</p>
		<p>&nbsp;</p>
	</div>
</div>
