<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Fastmount</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta name="generator" content="HAPedit 3.1">
<%= stylesheet_link_tag 'xchain2' %>
<style type="text/css">

</style>
</head>
<body>
<div id="container">
<div id="topbar">Signed in as <a href="#">Rowan Hick</a> | <a href="#">Settings</a> | Help | Sign Out </div>
<div id="header"><img src="/images/logo.jpg"></div>
<div id="navbar">
	<ul>
		<li><a href="/dashboard"><img src="/images/line-chart.png" border="0"> Dashboard</a></li>
		<li><a href="#"><img src="/images/index.png" border="0"> Catalog</a></li>
		<li><a href="/orders"><img src="/images/shoppingcart_full.png" border="0"> Orders</a></li>
		<li><a href="#"><img src="/images/businessman.png" border="0"> Customers</a></li>
		<li><a href="#"><img src="/images/transform.png" border="0"> Inventory</a></li>
		<li><a href="#"><img src="/images/pie-chart.png" border="0"> Reports</a></li>
		<li><a href="#"><img src="/images/data_edit.png" border="0"> Admin</a></li>
	</ul>
</div>
<%= yield %>
<div id="extra">
<p></p>
</div>
<div id="footer"><p>Copyright &copy; 2007 <a href="http://work.rowanhick.com">RH Consulting</a> | Published under Mozilla Public License 1.1 | Consulting | Help</p></div>
</div>
</body>
</html>